.banner{background-image: url("120.jpg");
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: 100%;
		img.opacity: 0.4;
		padding-bottom: 50px;
		padding-top: 50px;
		}
.banner	h1{text-shadow: 3px 3px pink;
		text-align: center;}
 
.href {text-align: center;}
.href a:link{background-color: pink;text-decoration: none;color: maroon;}
.href a:visited{background-color: yellow;text-decoration:none;color:black;}
.href a:hover{background-color:green;text-decoration:underline;color: red;}
ul#horizontal-list {
	min-width: 696px;

	padding-top: 20px;
	}
	ul#horizontal-list li {
		display: inline;
	}

.para p{color: brown; margin-left: 50px}

.cpy{
	text-align: center;}
